{% extends 'base.html' %}
{% block title %}{{user.first_name}}{% endblock %}
{% block content %}


<div>
<h1>{{user.full_name()}}</h1>  
<img src="{{user.image_url}}" alt="picture of user"><br>
<a href="/users/{{user.id}}/edit"><button>Edit user</button></a><br>
<a href="/users"><button>Return</button></a><br>
<h2>Posts</h2>
<ul>
   {% for p in user.posts %}
   <li><a href="/posts/{{p.id}}">{{p.title}}</a></li>
   {% endfor %}
</ul>
<a href="/users/{{user.id}}/posts/new"><button>New post</button></a>
</div>



{% endblock %}